[submodule "packages/slim-suite-core"]
	path = packages/slim-suite-core
	url = https://github.com/ajdhefley/slim-suite-core
[submodule "packages/slim-suite-angular"]
	path = packages/slim-suite-angular
	url = https://github.com/ajdhefley/slim-suite-angular
[submodule "packages/slim-suite-nest"]
	path = packages/slim-suite-nest
	url = https://github.com/ajdhefley/slim-suite-nest
