[submodule "packages/test-suite-core"]
	path = packages/test-suite-core
	url = https://github.com/ajdhefley/test-suite-core
[submodule "packages/test-suite-nest"]
	path = packages/test-suite-nest
	url = https://github.com/ajdhefley/test-suite-nest
[submodule "packages/test-suite-angular"]
	path = packages/test-suite-angular
	url = https://github.com/ajdhefley/test-suite-angular
